@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #E5E5E5;
    padding-left: 10vw;
    padding-right: 10vw;
}
.menu button{
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 550;
    color: gray;
    background-color: transparent;
    border: none;
}
.sign-in button{
    font-weight: 550;
    background-color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
}
.title{
    margin-top: 10vw;
    margin-left: 30vw;
    font-size: 40px;
    font-weight: 700;
}
.header-content{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text-content{
    color: gray;
    margin-bottom: 15px;
    font-size: 20px;
}
.right-content-converter{
    margin-left: 130px;
}
.content{
    margin-top: 35px;
    margin-left: 25vw;
    display: flex;
    flex-direction: row;
}
.info-block{
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 3px;
}
.values-leftside-content button, .values-rightside-content button{
    border-radius: 0;
    border: solid;
    color: gray;
    width: 76px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-style: outset;
    border-width: 2px;
    border-color: gray;
    background-color: white;
    padding: 5px 10px 3px 10px;
    margin-bottom: 30px;
}
.input-block-left, .input-block-right{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    height: 40px;
    margin-bottom: 15px;
}
.valute-info-block-left, .valute-info-block-right{
    color: grey;
}
input{
    border: 0;
    outline: 0;
}